<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374905649903-t8toeo9bp074mlm9qv69tbc00qco5rki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374905649903-t8toeo9bp074mlm9qv69tbc00qco5rki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374905649903-dvpg20105800tim784r46po0ootoh4eq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR8KLqEoEj3Gt6hjRWb-Yl6o11cW8rrUg</string>
	<key>GCM_SENDER_ID</key>
	<string>374905649903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diariotiempohn.app</string>
	<key>PROJECT_ID</key>
	<string>diario-tiempo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>diario-tiempo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374905649903:ios:e2588a5a1fe65b5329791a</string>
</dict>
</plist>